{% extends 'shop/basic.html' %}
{% block css %}
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }

          .carousel-indicators .active {
          background-color: blue;
            }

          .col-md-3 img{

          max-width: 210px;
          height: 180px;
          }

          body .carousel-indicator li{
          background-color: blue;
          }

          body .carousel-indicators{
          bottom: 0;
          }

          body .carousel-control-prev-icon,
          body .carousel-control-next-icon
         {
          background-color: blue;

          }

         .carousel-control-prev,
         .carousel-control-next
         {
          top : auto;
          bottom : auto;
          margin-top: 225px;

          }


           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
          .card-text{

            }
          .card-img-top{
           margin-left: 30px;
           margin-top : 15px;
}
 {% endblock %}

{% block body %}
{% load static %}
<div class="container">
     <!--Slideshow starts here -->

    {% for product ,range ,nSlides in allProds %}
    <h4 class="my-4"> Flash Sale On {{product.0.categories}} - Recommended </h4>

    <div class="row">

<div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

       {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
       {% endfor %}
    </ul>


    <div class="container carousel-inner no-padding">
      <div class="carousel-item active">

        {% for i in product %} 
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 17rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body" style="width:100%; height: 185px !important;">
              <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
              <p class="card-text">{{i.desc|slice:"0:53"}}...</p>
                <span id="divpr{{i.id}}" class="divpr">
                    <button id="pr{{i.id}}" class="btn btn-primary car">Add To Cart</button>
                </span>

              <a href="/shop/products/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary car">Quick View</button></a>
             </div>
          </div>
        </div>

        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div><div class="carousel-item">
        {% endif %}

        {% endfor %}
      </div>
</div>
</div>

    <!-- left and right controls for the slide -->
     <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
     </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
<!--        row div close-->
         </div>
    {% endfor %}
    </div>
 {% endblock %}

{% block js %}
<script>
  // find out the cart items from localstorage is a sting 
    if(localStorage.getItem('car') == null)
    {
     var car = {};
    }
    else
    {
     car = JSON.parse(localStorage.getItem('car'));

     // document.getElementById('car').innerHTML = Object.keys(car).length;
     updateCart(car);

    }

<!--// If the add to cart button is clicked , add/increment the item -->
    $('.car').click(function(){
       var idstr = this.id.toString(); 

    if(car[idstr] != undefined )
    {
    car[idstr] = car[idstr] + 1;
    }
    else
    {
      car[idstr] = 1;
    }
     updateCart(car);
     localStorage.setItem('car', JSON.stringify(car));
     document.getElementById('car').innerHTML = Object.keys(car).length;

    $('#popcart').popover('show')
    });
// <!--    this line to run and add popover to cart -->
   $('#popcart').popover();
// <!--  this line of code popover msg adjust in html form -->
    // document.getElementById("popcart").setAttribute('data-content', '<h5 style="font-size:5px">Cart for your Items in My Shopping Cart</h5>');

    updatePopover(car);
    function updatePopover(car)
    {
         console.log('we are inside updatePopover');
         var popStr = "";
         popStr = popStr + "<h5>Cart for your Items in My Shopping Cart </h5><div class='mx-2 my-2'";
         var i = 1;
         for (var item in car){

          popStr = popStr + "<b>" + i + "</b>.";
          popStr =popStr + document.getElementById('name'+item).innerHTML.slice(0,25) + "...Qty: " + car[item] + '<br>'; 
          i = i +1;
        }

        popStr = popStr + "</div> <a href='/shop/checkout/'><button class='btn btn-primary' id='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>" 
        console.log(popStr);
        document.getElementById("popcart").setAttribute('data-content', popStr);
       $('#popcart').popover('show');   
    }

function clearCart()
{
   car = JSON.parse(localstorage.getItem('cart'));
   for(var item in car){
    document.getElementById('div'+item).innerHTML = ' <button id="'+ item +'" class="btn btn-primary car">Add To Cart</button>'
   }

   localstorage.clear();
   car = {};
   updateCart(car);

   


}


    function updateCart(car){
      var sum = 0;
    for (var item in car) {     
      sum = sum + car[item];
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button><span id='val" + item + "''>" + car[item] + "</span><button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }
     localStorage.setItem('car', JSON.stringify(car));
     document.getElementById('car').innerHTML = sum;
     console.log(car)
      updatePopover(car);
    }

      // If plus or minus button is clicked, change the cart as well as the display value
      $('.divpr').on("click","button.minus",function(){
         // console.log('minus clicked');
         a=this.id.slice(7, );
         // console.log(a);
         car['pr'+a] = car['pr'+a] - 1;
         car['pr'+a] = Math.max(0,car['pr'+a]);
         document.getElementById('valpr'+a).innerHTML = car['pr' +a];
         updateCart(car)
      });

      $('.divpr').on("click","button.plus",function(){
        // console.log('plus clicked');
        a=this.id.slice(6, ); 
        // console.log(a); 
        car['pr'+a] = car['pr' +a] + 1;
        document.getElementById('valpr'+a).innerHTML = car['pr'+a];
        updateCart(car)
      }); 

</script>
{% endblock %}



