
{% extends 'shop/basic.html' %}
{% block title %}  {{ product.product_name }} - My Awesome Cart {% endblock %}
{% block body %}

<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
           <div class="row">
                  <img src="/media/{{product.image}}" width="200px" height="250px" >
           </div>
</br>
            <div class="row">

                <button class="btn btn-primary"> Buy Now </button>
                <button class="btn btn-primary mx-2">Add To Cart </button>


            </div>
        </div>
         <div class="col-md-8">
              <h5>{{product.product_name}}</h5>
             <p> <b>Rs.{{product.price}}</b></p>
              <p>{{product.desc}}</p>

         </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script>

    console.log('working')
    if(localStorage.getItem('car') == null)
    {
     var car = {};
    }
    else
    {
     car = JSON.parse(localStorage.getItem('car'));
     document.getElementById('car').innerHTML = Object.keys(car).length;

    }

    $('.car').click(function()
    {
    console.log('clicked');
    var idstr = this.id.toString();
    console.log(idstr);

    if(car[idstr] != undefined ){
    car[idstr] = car[idstr] + 1;
    }
    else
    {
      car[idstr] = 1;
    }
    console.log(car);
    localStorage.setItem('car', JSON.stringify(car));

    $('#popcart').popover('show')

    });
<!--    this line to run popover cart -->
   $('#popcart').popover()
<!--  this line of code popover msg adjust in html form -->
    document.getElementById("popcart").setAttribute('data-content', '<h5 style="font-size:5px">Cart for your Items in My Shopping Cart</h5>');


</script>
{% endblock %}